<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Proyecto_EDI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <header>




        <div style=" height:110px; background: #008dc9;">
            <img style="margin-left: 10%; margin-top:15px;" width="300px;" src="https://www.who.int/ResourcePackages/WHO/assets/dist/images/logos/es/h-logo-white.svg">
        </div>

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <!--Contenedor del menú-->
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="index">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">contacto</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Acerca de</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <img width="100%;" src="https://www.dshs.texas.gov/uploadedImages/Content/Prevention_and_Preparedness/immunize/covid19/banner-interior-full-sp.png" />
        </nav>
    </header><br /><br /><br /><br /><br /><br /><br />

    <!--banner de covid-->

    <div class="container">
        <main role="main" class="pb-3">
            <center>    @RenderBody()</center>
        </main>
    </div><br /><br /><br /><br /><br /><br /><br /><br /><br />



    <footer style="background-color: #20313b;" class="border-top footer text-muted">

        <div style="background-color: #20313b;" class="container">
            <center><img width="250px;" src="https://www.who.int/ResourcePackages/WHO/assets/dist/images/logos/es/h-logo-white.svg"> </center>
        </div>

    </footer>






    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
