@{
    ViewData["Title"] = "Contacto";
}
<h1>@ViewData["Title"]</h1>

<p style="font-size:30px;">Integrantes del grupo</p>
<p style="font-size:50px;">

    <b>Integrante 1:</b><br />
    Carlos Enrique Laparra Robledo | 1031120<br />


    <b>Integrante 2:</b><br />
    Jason Brian Girón Zamora | 1135220<br />

    <b>Integrante 3:</b><br />
    Karl Martin Bech Furlán  | 1015920<br />


</p>
