@model IEnumerable<Proyecto_EDI.Models.Paciente>

@{
    ViewData["Title"] = "porcentaje";
}

<h1>GRÁFICA NACIONAL</h1>
<h4>Datos en tiempo real de pacientes vacunados a nivel nacional</h4>

<div id="pastel"></div>
@section Scripts{
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script>
    var urlBase = 'http://' + '@Context.Request.Host' + '@Context.Request.Path'
    </script>
    <script src="~/js/Pastel.js"></script>

}
<p>
    <a asp-controller="Home" asp-action="Index">Menú principal</a><br />
    <a asp-action="MenuReporte">Regresar</a>
</p>